/* ここに記載する */
.kintone{
  width: 100%;
  background-color: #ffbf00;
  text-align: center;　  /* 画像の中央ぞろえ */
}
.kintone img{
  /* 画像のみをウィンドウ全体の70%にする */
  width:  80%; /* 画面全体のうち80%の大きさで画像を表示する */
  margin: 30px auto 30px auto; /* マージン（余白）　左から　上　右　下　左 */
}
.office{
  width: 100%;
  background-color: #1992d4;
  text-align: center;
}
.office img{
  width:  80%;
  margin: 30px auto 30px auto;
}
.garoon{
  width: 100%;
  background-color: #003399;
  text-align: center;
}
.garoon img{
  width: 80%;
  margin: 30px auto 30px auto;
}
.mailwise{
  width: 100%;
  background-color: #df4356;
  text-align: center;
}
.mailwise img{
  width: 80%;
  margin: 30px auto 30px auto;
}
/* 以下は修正しない */
html,
body {
  height: 100%;
  margin: 0;
}
header {
  background-color: #1aaedb;
  border-bottom: #ead963 6px solid;
}
.container {
  padding: 16px;
  padding-left: 120px;
}
header h1,
header h2 {
  margin: 0;
  color: #fff;
  line-height: 1;
}
header h1 {
  padding: 30px 0 5px 0;
  font-size: 24px;
  border-bottom: 1px dotted #fff;
  font-weight: 500;
}
header h2 {
  padding: 6px 0 0 0;
  font-size: 14px;
  font-weight: 400;
}
